<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        <{{#each photos}} <img src="{{imageURL}}" alt="" class="swiper-slide">
            {{/each}}
    </div>
    <div class="swiper-pagination"></div>
</div>